@charset "UTF-8";
* {
  font-family: 'Playfair Display', serif , '微軟正黑體';
  color: #202020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #F38989;
  color: white;
}

::selection {
  background-color: #F38989;
  color: white;
}

body {
  background-image: url("../img/marble.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

nav {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .container {
  position: relative;
  height: 90vh;
}

nav .logo {
  position: relative;
  display: inline-block;
  z-index: 3;
}

nav .logo img {
  width: 100%;
  vertical-align: middle;
}

nav .burger {
  display: none;
  z-index: 4;
}

nav .menu {
  position: absolute;
  bottom: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

nav li a:hover {
  color: #F38989;
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    top: 0;
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 245, 247, 0.9)), to(rgba(244, 245, 247, 0)));
    background: linear-gradient(rgba(244, 245, 247, 0.9), rgba(244, 245, 247, 0));
  }
  nav .container {
    width: 90%;
    height: initial;
    margin: 1280px;
    margin: 0 auto;
    padding: 15px 0;
  }
  nav .logo {
    width: 40px;
  }
  nav .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    padding: 50px 0 30px 0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
    -webkit-transform: translateY(-245px);
            transform: translateY(-245px);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  nav .menu.show {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  nav .burger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
  }
  nav .burger .line {
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #202020;
    border-radius: 50px;
    margin: 5px 0;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  nav .burger.open .line:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7px, 5px);
            transform: rotate(45deg) translate(7px, 5px);
  }
  nav .burger.open .line:nth-child(2) {
    opacity: 0;
  }
  nav .burger.open .line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(6px, -5px);
            transform: rotate(-45deg) translate(6px, -5px);
  }
}

header {
  position: relative;
  height: 100vh;
}

header .brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .brand img {
  width: 100%;
}

header .slogan {
  position: fixed;
  top: 60px;
  right: 45px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 20px;
  letter-spacing: 1px;
  text-align: right;
  font-weight: normal;
  overflow: hidden;
}

header .slogan::before {
  content: '';
  display: inline-block;
  width: 60vh;
  height: 1px;
  background-color: #8a8a8a;
  position: relative;
  right: 35px;
  top: -5px;
}

section {
  position: relative;
  margin: 100px auto;
}

section .title {
  text-align: right;
  font-size: 160px;
  line-height: 1;
  opacity: .1;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
  margin: 0;
  overflow: hidden;
}

section .container {
  position: relative;
  width: 80%;
  max-width: 1064px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  header .slogan {
    display: none;
  }
  section .title {
    font-size: 100px;
  }
}

@media screen and (max-width: 525px) {
  section .title {
    font-size: 60px;
  }
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .deco {
  position: relative;
  width: 50%;
  max-width: 510px;
  height: 440px;
  background-color: rgba(32, 32, 32, 0.5);
}

#about .deco .photo {
  display: block;
  width: 90%;
  max-width: 300px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  left: 50%;
  top: 25px;
}

#about .deco .name {
  font-family: 'Noto Serif SC', serif;
  color: white;
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 1.7;
  display: inline-block;
  position: relative;
  left: 50%;
  top: 25px;
}

#about .deco .name span {
  font-family: 'Noto Serif SC', serif;
  display: block;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#about .text_area {
  display: inline-block;
  margin: 170px 0;
}

#about .info_box {
  margin-left: -6px;
}

#about .info_box .info {
  margin: 5px 0;
}

#about .info_box img {
  vertical-align: middle;
}

#about .info_box .text {
  font-family: '微軟正黑體';
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 18px;
  vertical-align: middle;
  word-break: break-all;
  text-indent: -48px;
}

#about .info_box .text a {
  font-family: '微軟正黑體';
}

#about .intro {
  font-family: '微軟正黑體';
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 2;
  margin: 75px 0;
}

@media screen and (max-width: 1280px) {
  #about .deco {
    width: 40%;
    max-width: 510px;
    height: 440px;
  }
  #about .deco .photo {
    left: 30%;
  }
  #about .deco .name {
    left: 30%;
  }
}

@media screen and (max-width: 1140px) {
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .deco {
    width: 100%;
    height: 540px;
  }
  #about .deco .photo {
    left: 20%;
    width: 85%;
    max-width: initial;
  }
  #about .deco .name {
    left: 20%;
  }
  #about .text_area {
    margin: 50px 0;
  }
  #about .intro {
    margin: 35px 0;
  }
}

#experience .title span {
  display: block;
  margin-right: 400px;
}

#experience .container {
  padding: 150px 0;
}

#experience .timeline {
  position: relative;
  left: 25%;
}

#experience .event {
  position: relative;
  border-left: solid 1px #707070;
  padding-left: 75px;
  padding-bottom: 30px;
  width: 75%;
  max-width: 700px;
}

#experience .event:last-child {
  border: none;
}

#experience .time {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15px;
  height: 15px;
  background-color: #202020;
  border-radius: 50%;
  border: solid 3px #707070;
}

#experience .date {
  font-family: '微軟正黑體';
  position: absolute;
  width: 120px;
  left: -160px;
  top: 0;
  text-align: right;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1;
}

#experience .event_title {
  font-family: '微軟正黑體';
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;
}

#experience .event_description {
  font-family: '微軟正黑體';
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  #experience .timeline {
    left: 40%;
    max-width: 400px;
  }
}

@media screen and (max-width: 960px) {
  #experience .title span {
    margin-right: 200px;
  }
  #experience .container {
    padding: 100px 0;
  }
  #experience .timeline {
    left: 15%;
  }
  #experience .event {
    padding-left: 10%;
    width: 90%;
  }
  #experience .event_title {
    margin-bottom: 5px;
  }
  #experience .date {
    position: initial;
    text-align-last: left;
    margin: 5px 0 15px 0;
    color: #F38989;
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen and (max-width: 525px) {
  #experience .title span {
    margin-right: 120px;
  }
  #experience .container {
    padding: 50px 0;
  }
  #experience .timeline {
    left: initial;
  }
  #experience .event_title {
    line-height: 1.5;
  }
}

#works .collection {
  font-size: 0;
}

#works .work_block {
  display: inline-block;
  position: relative;
  width: calc( 33.33% - 20px);
  margin: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
  transition: -webkit-box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

#works .work_block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

#works .work_block:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#works .work_block:hover img {
  width: 110%;
  height: 110%;
  -webkit-transform: translateX(-5%) translateY(-5%);
          transform: translateX(-5%) translateY(-5%);
}

#works .work_block:hover .link img {
  width: 100%;
  height: 100%;
}

#works .cover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(32, 32, 32, 0.8);
  text-align: center;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

#works .cover:hover {
  opacity: 1;
}

#works .work_title {
  font-family: '微軟正黑體';
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

#works .work_description {
  font-family: '微軟正黑體';
  color: white;
  font-size: 14px;
}

#works .link {
  width: 30px;
  margin: 25px auto 0;
}

#works .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

#works .modal {
  max-width: 1000px;
  width: 85%;
  position: relative;
  background: #fff;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#works .modal img {
  width: 100%;
}

#works .close {
  font-family: '微軟正黑體';
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  opacity: .5;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#works .close:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  #works .work_block {
    width: calc( 50% - 20px);
  }
  #works .work_block:hover .cover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0.8)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 70%);
  }
  #works .cover {
    opacity: 1;
    top: initial;
    bottom: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.8)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 80%);
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
  }
  #works .work_title {
    margin-bottom: 5px;
  }
  #works .link {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #works .work_block {
    width: calc( 100% - 20px);
  }
}
/*# sourceMappingURL=style.css.map */