//---顏色定義開始
$black: #202020
$pink: #F38989
//---顏色定義結束
*
    font-family: 'Playfair Display', serif , '微軟正黑體'
    color: $black
    // border: solid 1px $black

html,body
    margin: 0
    padding: 0
::selection
    background-color: $pink
    color: white
body
    background-image: url("../img/marble.jpg")
    background-size: cover
    background-attachment: fixed
    overflow-x: hidden

nav
    position: fixed
    z-index: 3
    top: 50%
    left: 40px
    transform: translateY(-50%)
    .container
        position: relative
        height: 90vh
    .logo
        position: relative
        display: inline-block
        z-index: 3
        img
            width: 100%
            vertical-align: middle
    .burger
        display: none
        z-index: 4
    .menu
        position: absolute
        bottom: 0
    ul
        margin: 0
        padding: 0
    li
        list-style: none       
        a   
            display: block
            text-decoration: none
            padding: 15px
            font-size: 18px
            font-weight: 500
            transition-duration: .5s
            &:hover
                color: $pink
            
@media screen and(max-width: 960px)
    nav
        width: 100%
        top: 0
        left: initial
        transform: initial
        background: linear-gradient(rgba(244, 245, 247, .9),rgba(244, 245, 247, 0))
        .container
            width: 90%
            height: initial
            margin: 1280px
            margin: 0 auto           
            padding: 15px 0    
        .logo
            width: 40px
        .menu
            display: none
            position: fixed
            width: 100%
            height: fit-content
            top: 0
            left: 0
            padding: 50px 0 30px 0
            background-color: rgba(255, 255, 255, .8)  
            box-shadow: 0 0 10px rgba(0, 0, 0, .3)
            text-align: center
            &.show
                display: block  
        .burger
            display: inline-block
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            cursor: pointer
            .line
                width: 30px
                height: 3px
                background-color: $black
                border-radius: 50px
                margin: 5px 0

header
    position: relative
    height: 100vh
    .brand
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        img
            width: 100%
    .slogan
        position: fixed
        top: 60px
        right: 45px
        transform-origin: top right
        transform: rotate(-90deg) 
        font-size: 20px
        letter-spacing: 1px
        text-align: right
        font-weight: normal
        overflow: hidden
        &::before
            content: ''
            display: inline-block
            width: 60vh
            height: 1px
            background-color: #8a8a8a
            position: relative
            right: 35px
            top: -5px
section
    .title
        text-align: right
        font-size: 200px
        opacity: .1
        position: relative
        top: 124px
        z-index: -1
        overflow: hidden
    .container
        width: 80%
        max-width: 1064px
        margin: 0 auto
#about
    margin: 0 auto 100px
    .container
        display: flex
        flex-flow: row nowrap
        justify-content: space-between
    .deco
        position: relative
        width: 50%
        max-width: 510px
        height: 440px
        background-color: rgba(32, 32, 32, .5)
        .photo
            display: block
            width: 90%
            max-width: 300px
            box-shadow: 0 0 10px rgba(0, 0, 0, .3)
            position: relative
            left: 50%
            top: 25px
        .name
            font-family: 'Noto Serif SC', serif
            color: white
            font-size: 26px
            letter-spacing: 3px
            font-weight: bold
            line-height: 1.7
            display: inline-block
            position: relative
            left: 50%
            top: 25px
            span
                font-family: 'Noto Serif SC', serif
                display: block
                color: white
                font-size: 24px
                font-weight: bold
    .text_area
        display: inline-block
        margin: 170px 0
    .info_box
        margin-left: -6px
        .info
            margin: 5px 0            
        img
            vertical-align: middle
        .text
            font-family: '微軟正黑體'
            font-size: 14px
            letter-spacing: 1px
            margin-left: 18px
            vertical-align: middle
            word-break: break-all
            text-indent: -48px
            a
                font-family: '微軟正黑體'
    .intro
        font-family: '微軟正黑體'
        font-size: 14px
        letter-spacing: 1px
        line-height: 2
        margin: 75px 0

@media screen and(max-width:1280px)
    #about
        .deco
            width: 40%
            max-width: 510px
            height: 440px
            .photo
                left: 30%
            .name
                left: 30%

@media screen and(max-width:1140px)
    #about
        .container
            flex-flow: column wrap
            align-items: center
        .deco
            width: 100%
            .photo
                left: 20%
                width: 85%
                max-width: initial
            .name
                left: 20%
        .text_area
            margin: 70px 0
        .intro
            margin: 35px 0

@media screen and(max-width: 960px)
    header
        .slogan
            display: none
